<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="nom_tournee">
    <th mat-header-cell *matHeaderCellDef>Nom de la tournée </th>
    <td mat-cell *matCellDef="let element"> {{element.nom_tournee}} </td>
  </ng-container>

  <ng-container matColumnDef="livreurs">
    <th mat-header-cell *matHeaderCellDef> Livreurs </th>
    <td mat-cell *matCellDef="let element"> {{element.livreurs}} </td>
  </ng-container>

  <ng-container matColumnDef="camion">
    <th mat-header-cell *matHeaderCellDef> Immatriculation camion </th>
    <td mat-cell *matCellDef="let element"> {{element.camion}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button (click)="onClickTour(element.id, $event)">Voir</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
