.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.container-header {
  width: 100%;
}

.container-main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-main__left {
  width: 20%;
  background-color: #f4f4f4;
}

.container-main__right {
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 200px;
}

.container app-nav-bar {
    flex: 1;
}

.container app-create-tour {
    flex: 8;
}
