.container {
    display: flex;
    flex-direction: column;
    width:80%;
    height: 100vh; 
}

app-header {
    width: 100%;
    flex: 0 0 auto; 
}

.content {
    display: flex;
    flex: 1;
}

app-nav-bar {
    flex: 1; 
}

app-create-tour {
    flex: 8; 
}