<div class="page-container">
    <div class="menu-container">
<!--      <div class="example-button-row">-->
<!--        <mat-icon class="button-icon">menu</mat-icon>-->
<!--        <h1 class="menu-title">Menu</h1>-->
<!--      </div>-->
      <section class="button-section">
        <div class="example-button-container">
            <a mat-button href="http://localhost:4200" class="custom-button">
              <mat-icon class="button-icon">home</mat-icon>
              Dashboard
            </a>
        </div>
        <div class="example-button-container">
            <a mat-button href="http://localhost:4200/" target="_blank" class="custom-button">
              <mat-icon class="button-icon">local_shipping</mat-icon>
              Liste de tournées
            </a>
        </div>
      </section>
    </div>
</div>
