section {
    display: table;
  }
 
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 140px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  