<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Colonne sélection -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="selectAllRows($event)" [checked]="isAllSelected()" [indeterminate]="isSomeSelected()"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.selected"></mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Colonne Référence Commande -->
    <ng-container matColumnDef="reference_commande">
      <th mat-header-cell *matHeaderCellDef> Réf. Commande </th>
      <td mat-cell *matCellDef="let element"> {{element.reference_commande}} </td>
    </ng-container>
  
    <!-- Colonne Référence Client -->
    <ng-container matColumnDef="reference_client">
      <th mat-header-cell *matHeaderCellDef> Réf. Client </th>
      <td mat-cell *matCellDef="let element"> {{element.reference_client}} </td>
    </ng-container>
  
    <!-- Colonne Adresse -->
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef> Adresse </th>
      <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
    </ng-container>
  
    <!-- Colonne Date -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    <!-- Colonne État -->
    <ng-container matColumnDef="etat">
      <th mat-header-cell *matHeaderCellDef> État </th>
      <td mat-cell *matCellDef="let element"> {{element.etat}} </td>
    </ng-container>
  
    <!-- En-tête et lignes -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <!-- Bouton pour récupérer les éléments sélectionnés a partir de la checkboss-->
  <button mat-raised-button (click)="getSelectedRows()">Obtenir les lignes sélectionnées</button>
  