.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f4f4f4;
    width: 100vw;
    height:150px
}

.logo img {
    height: 50px;
}

.profile-card {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 60%;
    object-fit: cover;
    display: block;
    margin-right: 10px;
}
.info h2 {
    margin: 0;
    font-size: 1.2rem;
}
.info p {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.logo img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 20%;
}
